/*#music-player-container {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6;
}

#playback-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playback-controls button {
    margin-right: 10px;
}

Still planning to add currently playing soon
*/